/* Feedme CSS */

body {
    margin:20px;
/*    background-color: rgb(255, 153, 0); */
    background-color: rgb(0, 102, 204); 
    font-family: "trebuchet ms", trebuchet, verdana, arial, sans-serif;
    font-size:10pt;
    font-weight:normal;
    text-align : center;
    color:#333;
    overflow: auto;
}

a {
    text-decoration: none;
    color:          #0066CC;
}

a img {
    border-style: none; 
}
table { font-size: 100% }

.titletext {
    color:#111;
    font-size:20pt;
    font-weight:normal;
    text-align : left;
    padding-bottom: 20px;
}

.container700 {
    width: 700px;
    min-height: 100px;
    margin:0 auto;/* used to center the div (known hack for IE) */
    text-align: left;
    border-style:solid;
    border-width:2px;
    border-color: rgb(255, 153, 0);
    background:#FFF;
    box-shadow: 5px 5px 5px #210;
    -moz-box-shadow: 5px 5px 5px #210;
    -webkit-box-shadow: 5px 5px 5px #210;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.logo {
    float: right;
}

.footer {
    vertical-align: bottom;
    color: gray;
    font-size: 8pt;
}

.footer a {
    color: gray;
}

.bargraph {
    background-color: rgb(255, 153, 0);
    height: 1em;
    margin-left: 10px;
}

.feedme-logo-icon {
    position: relative;
    right: 3px;
    top: -3px;
}

.feedme-logo-text {
    float: right;
    width: 250px;
    text-align: right;
    margin-top: 60px;
    font-size: 2em;
    margin-right: 10px;
}

.instructions .number {
    color: rgb(255, 153, 0);
    font-size: 20pt;
    vertical-align: text-top;
    padding-right: 5px;
}

.instructions .text {
    vertical-align: text-top;
}