<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/xhtml1-loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}Title{% endblock %}</title>
    <link rel="stylesheet" href="http://groups.csail.mit.edu/haystack/feedme/feedme.css" type="text/css" />
  </head>
  <body>
    <div class="container700"> 
      <div class="header">
	{% block logo %}
	<div class="logo"><a href="/"<img src="http://groups.csail.mit.edu/haystack/feedme/logo.png" height="30" /></a></div>
	{% endblock %}
	<div class="titletext">{% block header %}Title{% endblock %}</div>
      </div>
      {% block body %}CIAO!{% endblock %}
    </div>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11269535-1");
pageTracker._trackPageview();
} catch(err) {}</script>
  </body>
</html>
