{% extends "base.html" %}

{% block title %}Subscription Settings{% endblock %}
{% block header %}Subscription Settings - {{ user_email }}{% endblock %}

{% block body %}

<span style="font-weight: bold;">{% firstof message %}</span>

<p style="text-align:center">
FeedMe generates an RSS feed of all items recommended to you, which is available here:
<a href="http://feedme.csail.mit.edu/feeds/posts/{{user_email}}/{{settings_seed}}/">
http://feedme.csail.mit.edu/feeds/posts/{{user_email}}/{{settings_seed}}/</a>
</p>


{% if not error %}
<form method="post" action=".">
<p>
FeedMe allows you to receive recommendations immediately as your friends
recommend them, or as a digest of several recommendations that are sent
periodically.  <b>How would you like to receive your recommendations?</b> <br />
<input type="radio" name="digest" value="False" {% if not digest %}checked="checked"{% endif %}> 
Immediately, unless my friends wish to send the emails in digest form<br />
<input type="radio" name="digest" value="True" {% if digest %}checked="checked"{% endif %}> 
Only as a digest, regardless of how my friends wish to send the emails
<br />
</p>

<p> FeedMe learns what your interests are from what your friends recommend
to you.  With this information, we can recommend that your friend send you
future messages that appear to be related to your topics of interest.
<b>Would you like FeedMe to recommend you for receipt of articles related
to your interests?</b><br />
<input type="radio" name="recommend" value="True" {% if recommend %}checked="checked"{% endif %}> Yes<br />
<input type="radio" name="recommend" value="False" {% if not recommend %}checked="checked"{% endif %}> No
<br />
</p>

<p>FeedMe recommendations will always appear in your FeedMe RSS feed. 
<b>Would you like FeedMe to stop sending you emails?</b><br />
<input type="radio" name="feed_only" value="True" {% if feed_only %}checked="checked"{% endif %}> Yes<br />
<input type="radio" name="feed_only" value="False" {% if not feed_only %}checked="checked"{% endif %}> No
<br />
</p>

<input type="submit" value="Save Settings">

</form>

{% endif %}

{% endblock %}
