{% extends "base.html" %}

{% block title %}FeedMe{% endblock %}

{% block logo %}
<div class="feedme-logo-text">Making link sharing faster, better.</div>
<div class="logo" style="float: inherit;"><img src="http://groups.csail.mit.edu/haystack/feedme/logo.png" /></div>
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<div style="clear: both">
  <p>FeedMe<img src="http://groups.csail.mit.edu/haystack/feedme/like.png" class="feedme-logo-icon" /> is a recommendation system that learns what your friends like to hear about and helps you share it with them. You can use FeedMe through a Google Reader plug-in or a Firefox extension.</p>
  <img src="http://groups.csail.mit.edu/haystack/feedme/demo.png" />

  <p>Once you've started sharing, FeedMe recommends friends who might be interested in seeing the web content you're looking at. FeedMe has loads of other bells and whistles, too: optional digesting of shares, indications of whether the recipient already received the URL, how many URLs the recipient has gotten recently, and One-Click Thanks for recipients to tell you what they like.</p>
    
  <table>
  <tr>
  <td style="vertical-align:top;padding-right:5px;">
  <h3>FeedMe: A Plug-in for Google Reader</h3>
  <p>
  If you use Google Reader and just want to share content from your RSS feeds, try this plug-in.
  </p>
  <div>
    <div>To get started:</div>
    <table class="instructions">
      <tr>
      <td class="number">1</td>
      <td class="text">Get <a href="http://www.getfirefox.com">Firefox 3.5</a> and the <a href="https://addons.mozilla.org/en-US/firefox/addon/748">Greasemonkey add-on</a>.</td>
      </tr>

      <tr>
      <td class="number">2</td>
      <td class="text"><a href="/accounts/register">Get a FeedMe account</a>.</td>
      </tr>

      <tr>
      <td class="number">3</td>
      <td class="text"><a href="{{ feedme_url }}">Install FeedMe</a> as a Greasemonkey script.</td>
      </tr>

      <tr>
      <td class="number">4</td>
      <td class="text">Go to <a href="http://reader.google.com">Google Reader</a> and open up a feed. Log in to FeedMe when prompted, and start sharing! Shared posts will get sent via e-mail. As you share, FeedMe learns who might be interested in the posts you're looking at, and suggests them as you read.</td>
      </tr>

      <tr>
      <td class="number">5</td>
      <td class="text">For bonus points, install the FeedMe bookmarklet by dragging the following link onto your bookmark bar:<br />
<div><a href="javascript:document.getElementsByTagName('body')[0].appendChild(%20document.createElement('script')).setAttribute('src','http://groups.csail.mit.edu/haystack/feedme/bookmarklet.js');">Share with FeedMe</a></td>
      </tr>

      </table>

      <div style="margin-top: 20px">If you want more detail, you can step through <a href="/tutorial/">our tutorial</a>.</div>

    </div>

    </td>
    <td style="vertical-align:top;padding-left:5px;">
    <h3>FeedMe Bar: A Firefox Extension</h3>
    <p>
    If you want to be able to share a link from any webpage, try this extension.
    </p>
    <div>To get started:</div>
    <table class="instructions">
      <tr>
      <td class="number">1</td>
      <td class="text">If you don't have Firefox 3.5 or higher, <a href="http://www.getfirefox.com">download it here</a>.</td>
      </tr>

      <tr>
      <td class="number">2</td>
      <td class="text"><a href="/accounts/register">Register</a> for a FeedMe account, or <a href="/accounts/login">log in</a> if you already have one.</td>
      </tr>

      <tr>
      <td class="number">3</td>
      <td class="text"><a href="http://groups.csail.mit.edu/haystack/feedme/feedme.xpi">Install the FeedMe Bar</a> as a Firefox extension.</td>
      </tr>

      <tr>
      <td class="number">4</td>
      <td class="text">Go to any webpage, and start sharing! Shared links will get sent via e-mail. As you share, FeedMe learns who might be interested in the websites you're looking at, and suggests them as you read.</td>
      </tr>

      </table>
      
      <!--h4>Want to help us out?</h4>
      <p>We are currently conducting a user study for the FeedMe Bar! You can participate by filling out <a href="https://spreadsheets.google.com/viewform?formkey=dEVxMmU0Tno1SHdWU19GOElNT09pOWc6MQ">this form</a>.
      After installing the FeedMe Bar and filling out the form, please use the bar to share a link with feedme@csail.mit.edu to let us know you're ready to start the study!</p-->

    </td>
    </tr>
    </table>

    <p>FeedMe is available open-source under the MIT license, and is hosted on <a href="http://feedme-rss.googlecode.com/">Google Code</a>. Contact us at <a href="mailto:feedme@csail.mit.edu">feedme@csail.mit.edu</a>.</p>

    <div>
      <table width="100%">
	<tr valign="bottom">
	  <td align="left">
	    <a href="http://web.mit.edu/"><img src="http://groups.csail.mit.edu/haystack/feedme/mit-greygrey-footer1.gif" /></a>
	  </td>
	  <td align="right">
	    <a href="http://csail.mit.edu"><img src="http://groups.csail.mit.edu/haystack/feedme/csail.gif"></a>
	  </td>
    </div>
  </div>
</div>
{% endblock %}
