{% extends "base.html" %}

{% block title %}FeedMe Settings{% endblock %}
{% block header %}FeedMe Settings - {{ user }}{% endblock %}

{% block body %}
{% if done %}<div style="font-weight: bold">Changes set.</div>{% endif %}
Here you can update preferences about your FeedMe experience.
<form method="POST" action="">
    {% for field in form %}
        {{ field.label_tag }}: {{ field }} <br>
    {% endfor %}
    <div><input type="submit" value="Done" /></div>
</form>

<h2>Recent Shares</h2>

<ul style="padding-left:10px;">
    {% for spr in sp_receivers %}
        <li style="margin-bottom:5px;list-style:none;">
        <div><a href="{{ spr.shared_post.post.url }}">{{ spr.shared_post.post.title }}</a></div>
        <div>Shared with {{ spr.receiver.user }} 
        {% if spr.shared_post.thanks %}
        <span style="font-weight:bold;color:#FF9900;">Thanks!</span>
        {% endif %}
        </div>
        <div style="font-style:italic;">{{ spr.time|date:"P D, N d, Y" }}</div>
        </li>
    {% endfor %}
</ul>


<p>
FeedMe also generates an RSS feed of all items you share, which is available here:
<a href="http://feedme.csail.mit.edu:8003/feeds/shares/{{user_email}}/{{settings_seed}}/">
http://feedme.csail.mit.edu/feeds/posts/{{user_email}}/{{settings_seed}}/</a>
</p>



{% endblock %}
