{% extends "base.html" %}

{% block title %}FeedMe Tutorial: Firefox 3.5{% endblock %}
{% block header %}FeedMe Tutorial: Firefox 3.5{% endblock %}

{% block body %}
<p>Step 1/8</p>

<p>In order to use FeedMe, you must be using Firefox 3.5.
To determine which version of Firefox you are running, click <a
href="http://support.mozilla.com/en-US/kb/Finding+your+Firefox+version"
target="_blank">here</a>.</p>

<p>If you do not yet have Firefox 3.5, you can get it by clicking <a
href="http://www.mozilla.com/en-US/firefox/firefox.html" target="_blank">here</a>.</p>

<p>Once you are using Firefox 3.5, you may <a
href="/tutorial/greasemonkey/">proceed to the next step</a>.</p>

{% endblock %}
