{% extends "base.html" %}

{% block title %}FeedMe Tutorial: Using FeedMe For the First Time{% endblock %}
{% block header %}FeedMe Tutorial: Using FeedMe For the First Time{% endblock %}

{% block body %}
<p>Now that you are logged in, we are ready to use FeedMe!</p>

<p>Open an item in one of your Google Reader subscriptions.  Under the
title of the item you are looking at, you will see something new: FeedMe!</p>

<center><img width="75%"
src="http://groups.csail.mit.edu/haystack/feedme/tutorial_readpost0.png"></center>

<p>When you first
start using FeedMe, it won't know who you like to share with.  So, you'll
need to add the first few people yourself.
Next to the FeedMe logo, you will see a text box. This is a text box in
which you can type email addresses of people you know:</p>

<center><img width="75%"
src="http://groups.csail.mit.edu/haystack/feedme/tutorial_readpost1.png"></center>

<p>Type in your own email address, and press enter.  After that, type
'feedme@csail.mit.edu' and press enter.  You will see something like
this:</p>

<center><img width="75%"
src="http://groups.csail.mit.edu/haystack/feedme/tutorial_readpost2.png"></center>

<p>The above image means that 'marcua@csail.mit.edu' [your email address] and
'feedme@csail.mit.edu' will be receiving an email from you with this post.
Underneath each email address, you will get a message such as "Saw it
Already" if the person has seen this item already, or "Received 5 today" if
the person has received 5 FeedMe emails today already.</p>

<p>You are now ready to send the message.  You can type an optional message
to send to the recipients, and then click "Now" to send the message now:</p>

<center><img width="75%"
src="http://groups.csail.mit.edu/haystack/feedme/tutorial_readpost3.png"></center>

<p>Check your email!  You should have just received the message!</p>

<p>You also see a "Later" button.  If you do not want to send the message to
the person right now (perhaps you have sent them many messages today, and
do not want to burden them), you can push "Later" instead of "Now."  Every
few days, we will send the recipient an email with all of the items that
were shared with them "Later."</p>

<p>Once you're comfortable with FeedMe, you may <a
href="/tutorial/recommendations/">proceed to the next step</a>.</p>

{% endblock %}
