{% extends "base.html" %}

{% block title %}FeedMe Tutorial: Greasemonkey{% endblock %}
{% block header %}FeedMe Tutorial: Greasemonkey{% endblock %}

{% block body %}
<p>Step 2/8</p>

<p>FeedMe uses a tool called Greasemonkey to change some of the behaviors
of Google Reader.  To learn more about Greasemonkey, click <a
href="http://www.greasespot.net/" target="_blank">here</a>.</p>

<p>Installing Greasemonkey will restart your Firefox browser.  You can get
Greasemonkey by clicking <a
href="https://addons.mozilla.org/en-US/firefox/addon/748"
target="_blank">here</a>, and then clicking the green "Add to Firefox"
button.</p>

<p>Once Greasemonkey is installed and you have restarted Firefox, you may <a
href="/tutorial/feedme/">proceed to the next step</a>.</p>

{% endblock %}
