{% extends "base.html" %}

{% block title %}FeedMe Tutorial: Logging in to FeedMe{% endblock %}
{% block header %}FeedMe Tutorial: Logging in to FeedMe{% endblock %}

{% block body %}
<p>Step 4/8</p>

<p>Now you need to <a href="/accounts/register" target="_blank">register for a FeedMe account</a>. When you're done, keep reading.</p>

<p>The next step is to load <a href="http://www.google.com/reader/"
target="_blank">Google Reader</a>.  If Google Reader is open, close the
tab, and open it again.</p>

<p>Once Google Reader has loaded, <b>open up
one of your subscriptions.</b></p>

<p>If you have not logged in to FeedMe in a
while, or are logging in for the first time, FeedMe will request that you
log in with the username and password you used when you signed up for an
account, as seen below:</p>

<center><img width="75%" src="http://groups.csail.mit.edu/haystack/feedme/tutorial_login.png"></center>

<p>Once you have logged in to FeedMe, you may <a
href="/tutorial/readpost/">proceed to the next step</a>.</p>

{% endblock %}
