{% extends "base.html" %}

{% block title %}FeedMe Tutorial: Recommended Friends{% endblock %}
{% block header %}FeedMe Tutorial: Recommended Friends{% endblock %}

{% block body %}
<p>Step 6/8</p>

<p>FeedMe learns who you tend to recommend certain items to, and recommends
those people to you when you read similar items in your subscriptions.</p>

</p>After using FeedMe for some time, you will get a list of recommened
recipients of an item you are reading:</p>

<center><img width="75%"
src="http://groups.csail.mit.edu/haystack/feedme/tutorial_recommendations0.png"></center>

<p>To see more recommendations, you can click the "more..." link:</p>

<center><img width="75%"
src="http://groups.csail.mit.edu/haystack/feedme/tutorial_recommendations1.png"></center>

<p>Recommendations are only suggestions.  If you like some of the
recommended recipients, click on them to select them for a message:</p>

<center><img width="75%"
src="http://groups.csail.mit.edu/haystack/feedme/tutorial_recommendations2.png"></center>

<p>If you click on a recommendation a second time, you will de-select them.
If you are not happy with the recommendations FeedMe gives you, feel free
to type the person's email address into the text box like you did in the
last section.</p>

<b><p>To share with a recommended person, click on their name to select
them, then click Now or Later to send the e-mail.</p></b>

<p>Now that you're a FeedMe Pro, you may <a
href="/tutorial/bookmarklet/">proceed to the next step</a>.</p>

{% endblock %}
