{% extends "share_email.html" %}

{% block email %}email us at feedme@csail.mit.edu{% endblock %}

{% block post_title %}{{ shared_post.post.title }} (http://feedme.csail.mit.edu:8000{% url server.feedme.clickthrough.clickthrough shared_post.pk %}?redirect={{ shared_post.post.url|removehttp }}){% endblock %}

{% block feed_title %}{{ shared_post.post.feed.title.strip }}{% endblock %}

{% block thanks_link %}http://feedme.csail.mit.edu:8000/thanks/{{shared_post.pk}}/{% endblock %}

{% block thanks_link_2 %}http://feedme.csail.mit.edu:8000/thanks/{{shared_post.pk}}/{% endblock %}

{% block subscription %}Go to http://feedme.csail.mit.edu:8000/receiver/settings/ to change your e-mail receiving settings{% endblock %}

