{% extends "base.html" %}

{% block title %}FeedMe -- In Limited Beta{% endblock %}

{% block logo %}
<div class="feedme-logo-text">Making sharing faster, better.</div>
<div class="logo" style="float: inherit;"><img src="http://groups.csail.mit.edu/haystack/feedme/logo.png" /></div>
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<div style="clear: both">
  <div>FeedMe<img src="http://groups.csail.mit.edu/haystack/feedme/like.png" class="feedme-logo-icon" /> is a plug-in for Google Reader that learns what your friends like to hear about and helps you share it with them.</div>
  <img src="http://groups.csail.mit.edu/haystack/feedme/demo.png" />

  <br /><br />
  <div>We're currently looking for a limited number of individuals who use Google Reader regularly to participate in a two-week study of the FeedMe.  E-mail <a href="mailto:feedme@csail.mit.edu">feedme@csail.mit.edu</a> if you are interested!
    <ul>
      <li>If you are: a Firefox user who uses Google Reader regularly (addicts are welcome!)</li>
      <li>You can get: a $30 gift card for using our Google Reader extension at least every other day, for two weeks</li>
      <li>We are: an MIT computer science research team</li>
      <li>Dates of the study: preferably Tuesday, August 18 to Tuesday, September 1</li>
    </ul>
</div>
{% endblock %}
