{% extends "base.html" %}

{% block title %}FeedMe Tutorial: Welcome!{% endblock %}
{% block header %}FeedMe Tutorial: Welcome{% endblock %}

{% block body %}

<p>Welcome to FeedMe!  This tutorial will help you get set up for the
study.</p>

<p>You can install FeedMe on as many machines as you would like, and use
the same username and password on all of them.  If you are installing
FeedMe for the first time, go through each step of the tutorial.</p>

<p>If you
are installing FeedMe on a second (or third!) machine,
you will only have to go through the Firefox,
Greasemonkey, FeedMe, and FeedMe bookmarklet installations,
and will have to login
the first time you load Google Reader on the new machine.</p>

<p>When you are ready to begin the tutorial, you may <a
href="/tutorial/firefox/">proceed to the next step</a>.</p>

{% endblock %}
