{% extends "base.html" %}

{% block title %}FeedMe Tutorial: Almost Done!{% endblock %}
{% block header %}FeedMe Tutorial: Almost Done!{% endblock %}

{% block body %}
<p>Step 8/8</p>

<p>You now know everything there is to know about FeedMe!</p>

<b><p>So that we know you are ready to be in the study, find an item in Google
Reader, and share it with us.</p>

<p>Share the item of your choice with feedme@csail.mit.edu and
msbernst@csail.mit.edu</p></b>

<p>If you have any questions, feel free to email <a
href="mailto:feedme@csail.mit.edu">feedme@csail.mit.edu</a>.  Thanks for participating
in the study!</p>

{% endblock %}
